@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #4B2E2B;
  --secondary-color: #F5E6D3;
  --light-text-color: #FFFFFF;
  --card-radius: 0.5rem;
}